/* CSS Document */
html, body {
	height: 100%;
}

main {
	min-height: 100%;
	margin:0 auto;
	/*padding-bottom: 20vh;*/
	margin-top: inherit;
	vertical-align: center;
}

#mainlogin {
	padding-top: 20vh;
}

#email_login {
	margin-top: 2vh;
	margin-bottom: 2vh;
}

#senha_login {
	margin-top: 2vh;
	margin-bottom: 7.5vh;
}

#icticon {
	padding-bottom: 6px;
}

#afasticon {
	padding-left: 30px;
}

.mainfooter {
	padding: 0.5em;
	color: #aaa;
	clear: both;
}

.footertext {
	color: white;
	line-height: 54px;
}

.navbar {
	min-height: 66px;
}

.navbar-default {
	background: #0074ae;
}

.nav div a {
	text-decoration: none !important;
}

.navbar-nav>li>a {
	line-height: 40px;
}

.navbar-brand {
	line-height: 40px;
}

.navbar .navbar-collapse {
	text-align: center;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{
	background: #0093dd;
	color: black;
} /*Muda o Hover e Focus dos links no toggle da Navbar*/
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{
	background-color: white;
}

#loader {
	position:relative;
	}

.to-functions {
	min-height: 300px;
	text-align: center;
	vertical-align: middle;
	line-height: 300px;
	font-family: Roboto;
	font-weight: bold;
	font-size: 2vw;
	background: linear-gradient(to bottom, #6D9B28, #8BC633);
	color: #FFFFFF;
	margin-top: 10vw;
}

.sectionbtn {
	height: 100vh;
	text-align: center;
	font-size: 3vw;
	width:48%;
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
	background-color:#E2F6C2;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
	}
	
.sectionbtn:hover {
	background-color:#66921F;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
	cursor:pointer;
	}
	
.sectionbtn:hover a{
	color:#7EB1DC;
	}

.sectiondivider{
	width:4%;
	}

.sectionstepglyph{
	top: 46vh;
	color: white;
	}

.sectionstepdiv{
	background-color: #ABD567;
	height: 100vh;
	}


.sectionglyph {
	color: #ABD567;
	font-size: 4em;
	top: 0.5em;
	}
	
.sectionicondiv{
	height:45vh;
	}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
	background: #8BC633;
	border-width: thick;
}

.text-titulo {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 2vw;
	color: #0074ae;
}

.breadcrumb {
	padding-top: 4.4em;
}

.EditarItem:hover {
	background-color: #8BC633;
	transition: 0.5s;
	cursor: pointer;
}

.ExcluirItem:hover {
	background-color: #C63333;
	transition: 0.5s;
	cursor: pointer;
}

.ListarAfastamentos:hover {
	background-color: #f2e394;
	transition: 0.5s;
	cursor: pointer;
}

.DesativarItem:hover {
	background-color: #FFAB49;
	transition: 0.5s;
	cursor: pointer;
}

.EditarExercicios:hover {
	background-color: #FFAB49;
	transition: 0.5s;
	cursor: pointer;
}

.CarregaDocentesCurso {
	margin-bottom: 0.2vw;
}

.datepicker-center {
	padding-left: 2em;
}

/* Ocorrencia Button Style*/

.btn-ocorrencia { 
  color: #ffffff; 
  background-color: #7C4DBA; 
  border-color: #643E96; 
} 
 
.btn-ocorrencia:hover, 
.btn-ocorrencia:focus, 
.btn-ocorrencia:active, 
.btn-ocorrencia.active, 
.open .dropdown-toggle.btn-ocorrencia { 
  color: #ffffff; 
  background-color: #49247A; 
  border-color: #643E96; 
} 
 
.btn-ocorrencia:active, 
.btn-ocorrencia.active, 
.open .dropdown-toggle.btn-ocorrencia { 
  background-image: none; 
} 
 
.btn-ocorrencia.disabled, 
.btn-ocorrencia[disabled], 
fieldset[disabled] .btn-ocorrencia, 
.btn-ocorrencia.disabled:hover, 
.btn-ocorrencia[disabled]:hover, 
fieldset[disabled] .btn-ocorrencia:hover, 
.btn-ocorrencia.disabled:focus, 
.btn-ocorrencia[disabled]:focus, 
fieldset[disabled] .btn-ocorrencia:focus, 
.btn-ocorrencia.disabled:active, 
.btn-ocorrencia[disabled]:active, 
fieldset[disabled] .btn-ocorrencia:active, 
.btn-ocorrencia.disabled.active, 
.btn-ocorrencia[disabled].active, 
fieldset[disabled] .btn-ocorrencia.active { 
  background-color: #7C4DBA; 
  border-color: #643E96; 
} 
 
.btn-ocorrencia .badge { 
  color: #7C4DBA; 
  background-color: #ffffff; 
}

/* End Ocorrencia Button Style*/

/* Filter Table Style Begin*/
.filterrow {
	margin-top: 40px;
	padding: 10px;
	padding-bottom: 6vw;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	background-color: #478ECB;
}

.panel-heading div {
	margin-top: -18px;
	font-size: 15px;
}

.panel-heading div span {
	margin-left: 5px;
}

.panel-body {
	display: none;
}

.bottom-pad {
	padding-bottom: 30vw;
}

/* Filter Table Style End*/

/* Sidebar Style Begin */
.sidebar-pad {
	padding-top: 6em;
	padding-bottom: 6em;
	left: -1.5em;
	width: 25em;
	height: 100%;
	overflow-y: scroll;
	z-index: 9;
	position: fixed;
}

.sidebar-btn {
	padding-bottom: 49vh;
	padding-top: 49vh;
	left: 22em;
	width: 20px;
	max-width: 20px;
	height: 100%;
	position: fixed;
	z-index: 10;
}

.sidebar-content {
	margin-left: 12em;
	width: 72%;
	z-index: 8;
}

#sidebar-pad-scroll {
	padding: 20px;
	padding-bottom: 120vh;
}
/* Sidebar Style End */
.table-overflow {
    max-width: 180vh;
    max-height: 100vh;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: inherit;
    padding-bottom: 7vh;
}

div.table-overflow {
	margin: 0 auto;
	margin-bottom:15vh;
}

.ui-datepicker-calendar {
        display: none;
        }
		
/* Print Page Styles */

.ufvjmlogo {
	padding-left:8vw;
	}
	
.tablesize  {
	min-width:30vw;
	}
	
.lessmarginbot {
	margin-bottom: 0;
	}
.lessmargintop {
	margin-top: 0;
	}
	
.tabspaceleft {
	margin-left:2vw;
	}

.tabspaceright {
	float:left;
	width:40vw;
	}

.tabspacerightbottom {
	float:left;
	width:25vw;
	}

.simpleborder {
	border: 1px solid black;
    border-collapse: collapse;
	}
.docenteheader {
	margin-bottom:-3vh;
	}
	
.rel_ocorrencia {
		width:8vw;
	}

.rel_descricao {
		width:24vw;
	}
	
.rel_quantidade {
		width:8vw;
	}
	
.rel_diasdomes {
		width:25vw;
	}

.rel_endline {
	border: 2px solid black;
    border-collapse: collapse;
	width:65vw;
	margin-top: 8vh;
	margin-bottom: 2vh;	
	}

.printdate {
	float:left;
	}
.signatureline {
	border-top:1px solid black;
    border-collapse: collapse;
	}
.signaturemargin{
	padding-top:7vh;
	border: 1px solid black;
    border-collapse: collapse;
	}

.navprintmargin2{
	margin-top:14vh;
	}
	
.paragmargin {
	margin-bottom:0px;
	}

.centermarginbottom {
	margin-left:16%;
	margin-right:16%;
	}
	
/* End Print Page Styles */
/* Lancamento Ferias Styles */

.hrferias{
	margin-top:0px;
	mergin-bottom:0px;
	border-top: 2px solid #999;
	}
.underbutton{
	display:block;
	}

/* End Lancamento Ferias Styles */
/* Editar Férias */

.editarFeriasGlyph{
	top:8px;
	right:8px;
	}
	
.editarFeriasTd{
	width:10em;
	}

/* End Editar Férias*/